<h1>Edit Movie</h1>

<%= form_for(@movie) do |f| %>
   <%= render 'fields', :f => f %>

  <div class="actions">
    <td><%= f.submit "Update" %></td>
  </div>
</tr>
</table>
<% end %>

Last Edited <%= time_ago_in_words(@movie.updated_at) %> ago.
