<h1> About  </h1>

<p>
PalFlix is a reccomendation helper for your NetFlix, using your friend´s rating of movies.
<p>
App is currently under heavy development.<p>

Progress:
<ol>
<li>Static pages.
<li>Basic Layout.
<li>User RESTful.
<li>Session create/destroy.
<li>Movie RESTful.
</ol>


To do:
<ol>
<li>Ratings from users to movies.
<li>Rankings.
<li>NetFlix API connect.
<li>Select users to make rankings.
</ol>

